@tailwind base;
@tailwind components;
@tailwind utilities;


.theme-dark {
    --bg-colors-DT_DeepBckgr: rgba(31, 31, 31, 1);
	--bg-colors-DT_WTBack: rgb(40, 42, 46);
	--bg-colors-DT_Text: rgba(241, 241, 241, 1);
	--bg-colors-DT_Backl: rgba(49, 51, 56, 1);
	--bg-colors-DT_TextboxEText: rgba(57, 59, 65, 1);
	--bg-colors-DT_LPassBack: rgba(37, 37, 37, 1);
	--bg-colors-DT_TextboxCont: rgba(35, 36, 40, 1);
	--bg-colors-DT_Login: rgba(192, 192, 192, 1);
	--bg-colors-DT_BacklLable: rgba(35, 36, 40, 1);
	--bg-colors-DT_SearchBar: rgba(29, 29, 29, 1);
}
.theme-light {
    --bg-colors-DT_DeepBckgr: #CCCED3;
	--bg-colors-DT_WTBack: #E3E5E8;
	--bg-colors-DT_Text: #313338;
	--bg-colors-DT_Backl: #F2F3F5;
	--bg-colors-DT_TextboxEText: #FAFAFA;
	--bg-colors-DT_LPassBack: #E3E5E8;
	--bg-colors-DT_TextboxCont: #D8DBDF;
	--bg-colors-DT_Login: #404040;
	--bg-colors-DT_BacklLable: #D2D5DA;
	--bg-colors-DT_SearchBar: #E9EAED;
}
textarea:focus,
input:focus {
	outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
	width: 8px;
	border: none;
	background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
	display: none;
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: rgba(57, 59, 65, 1);
}

::-webkit-scrollbar-track {
	background-image: url('../assets/icons/Track.png');
	background-repeat: repeat-y;
	background-size:auto;
  background-position: center
}


.ql-editor {
    height: 100%;
    word-break: break-all;
    font-size: 16px;
    line-height: 1.5;
}
.ql-container {
    border: 0 !important;
    height: auto !important;
}

.ql-toolbar {
    border: 0 !important;
}

@media screen and (min-width: 320px) {
    /* .ql-toolbar {
        display: none;
    } */
    @import url('~lucide-static/font/Lucide.css');
    /* .ql-toolbar::before {
        
        content: '';
        display: block !important;
        position: absolute !important;
    } */
}
